# Packages
node_modules/

# Log files
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# IDE
.vscode/bookmarks.json

# Test files
*.bak

# Miscellaneous
examples/
test/
.tmp/
.gitattributes
.gitignore
.travis.yml
